ul{
	 list-style-type: none;
	 width: 20%;
	 background-color: rgb(196, 44, 44);
	 padding: 0;
	 margin: 0;
}
 
li a{
	display: block;
	background-color: darkred;
	padding: 14px;
	text-decoration: none;
	color: white;
	font-family: arial, verdana, sans-serif;
}

li a:hover{
	background-color: blueviolet;
	color: whitesmoke;
}

li a.activo{
	background-color: yellow;
	color: black;
	
}

li a:hover:not(#uno){
	background-color: chocolate;
	color: white;
}